<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Juel Coper">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404 Not Found</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/icons/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/assets/icons/favicon/site.webmanifest">
    <!-- /favicon -->

    <!-- Global stylesheets -->
    <link href="/public/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="/public/assets/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="/public/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="/public/assets/js/jquery/jquery.min.js"></script>
    <!-- /theme JS files -->

    <!-- Custom JS files -->
    <script src="/public/assets/js/app.js"></script>
    <!-- /custom JS files -->
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content-inner">

                <div class="content d-flex justify-content-center align-items-center">
                
                    <!-- Container -->
                    <div class="flex-fill">
                
                        <!-- Error title -->
                        <div class="text-center mb-4">
                            <img src="/public/assets/images/error_bg.svg" class="img-fluid mb-3" height="230" alt="">
                            <h1 class="display-3 fw-semibold lh-1 mb-3">404</h1>
                            <h6 class="w-md-25 mx-md-auto">Oops, an error has occurred. <br> The resource requested could not be found
                                on this server.</h6>
                        </div>
                        <!-- /error title -->
                
                
                        <!-- Error content -->
                        <div class="text-center">
                            <a href="#" onclick="history.back()" class="btn btn-primary">
                                <i class="ph-arrow-left me-2"></i>
                                Go back
                            </a>
                        </div>
                        <!-- /error wrapper -->
                
                    </div>
                    <!-- /container -->
                
                </div>

            </div>
        </div>
    </div>
</body>

</html>